<form>
  <input  name="searchInput" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
  <button (click)="searchText=''">X</button>
</form>
<table >
  <thead>
    <th>Title</th>
    <th>Author</th>
    
    <th></th>
  </thead>
  <ng-container *ngFor="let book of allbooks">
    <tr *ngIf="filterCondition(book)">
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <button mat-button mat-raised-button class="allbooksButton" [routerLink]="['/book-list']" skipLocationChange>
        <i class="material-icons">visibility</i>All books</button>

        
    </tr>
  </ng-container>
</table>














<!-- <mat-card><strong>Book Search</strong></mat-card>
<input
  type="text"
  #searchInput
  (keyup)="search(searchInput.value)"
  placeholder="search books..."
  class="input"
/>
<div *ngFor="let book of (books |async)">
  <h4>Title: {{ book?.title }}</h4>
  <p>Author: {{ book?.author }}</p>
</div>
<div *ngIf="(books |async)?.length < 1">
  <hr />
  <p>No results found :(</p>
</div>  -->